* {
    background-color: cornflowerblue;
}

body{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.container{
    border: 5px solid black;
    padding: 20px;
    display: flexbox;
    width: 30%;
    margin: 0 auto;
    margin-top: 110px;
    text-align: center;

}


.container input{
    margin-bottom: 15px;
    padding-left: 60px;
    font-size: larger;
}

#btn{
    color: white;
    background-color: darkblue;
    cursor: pointer;
    padding: 15px 40px;
    border: none; 
    border-radius: 12px;
}

#btn:hover{
    background-color: blue;
}

.answer-box{
    border: 5px solid black;
    padding: 10px 20px;
    width: 30%;
    margin: 0 auto;
    margin-top: 20px;
}